.static-width{
    width: 300px;
    height: 100px;
    background: url(https://theninja.blob.core.windows.net/thenetninja/images/icons/white-star.png) no-repeat top center;
    background-color: #686860;
    background-size: 200px;
}